[submodule "libPhonograph"]
	path = libPhonograph/libPhonograph
	url = https://github.com/FoedusProgramme/libPhonograph.git
[submodule "Cupertino"]
	path = Cupertino/Cupertino
	url = https://github.com/FoedusProgramme/Cupertino.git
[submodule "libusb-cmake"]
	path = hificore/src/main/cpp/libusb-cmake
	url = https://github.com/libusb/libusb-cmake
[submodule "media3"]
	path = media3
	url = https://github.com/nift4/media.git
	branch = main
